extends layout

block content
  .row.banner
    .col-12
      h1 About Expense Tracker

  .row
    .col-12.col-lg-8
      p
        | Expense Tracker was created to help individuals manage their finances effectively and keep track of their spending.
        | <br /><br />
        | Our application provides an intuitive interface for logging expenses, viewing transaction history, and analyzing spending patterns. Whether you're trying to stick to a budget, monitor your spending, or simply gain insights into your financial habits, Expense Tracker is here to assist you.
        | <br /><br />
        | With features like expense categories, date-based filtering, and summary reports, you can gain a clearer picture of your financial situation and make informed decisions about your spending.