extends layout

block content
  .row.banner
    .col-12
      h1 Expense Tracker

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          h2 Your Expenses
          .card.card-primary
            .card-block
              h3.card-title Latest Transactions
              ul.list-group
                li.list-group-item
                  .row
                    .col-8 Transaction at Starbucks
                    .col-4.text-right -$5.00
                li.list-group-item
                  .row
                    .col-8 Grocery Shopping
                    .col-4.text-right -$50.00
                li.list-group-item
                  .row
                    .col-8 Monthly Rent
                    .col-4.text-right -$1200.00
          .card.card-primary
            .card-block
              h3.card-title Summary
              p.card-text Total Income: $3000.00
              p.card-text Total Expenses: $2000.00
              p.card-text Balance: $1000.00

        .col-12.col-md-6
          .card.card-primary
            .card-block
              h2.card-title Expense Chart
              img.img-fluid.rounded(
                src='https://www.exceldemy.com/wp-content/uploads/2022/06/How-to-make-a-budget-pie-chart-in-excel-10.png'
              )

  .row
    .col-12
      .card.card-primary
        .card-block
          a.btn.btn-primary.float-right(href='/transactions/addexpense') Add New Expense
          h2.card-title Expense History
          .row.expense
            .col-12.no-gutters.expense-header
              span.category Food & Drink
              small.timestamp 16 August 2024
            .col-12
              p Bought coffee at Starbucks for $5.00
          .row.expense
            .col-12.no-gutters.expense-header
              span.category Rent
              small.timestamp 1 August 2024
            .col-12
              p Paid rent for August - $1200.00
          .row.expense
            .col-12.no-gutters.expense-header
              span.category Groceries
              small.timestamp 10 August 2024
            .col-12
              p Grocery shopping at SuperMart - $50.00

    .col-12.col-lg-3
      p.lead
        | Keep track of your spending habits and manage your budget effectively with our easy-to-use expense tracker.
      p
        | Add your daily expenses, review your financial history, and stay on top of your finances.
